@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style=" font-family: Consolas; font-weight: 900; text-shadow: 5px 5px black; color: tomato">CHÀO MỪNG ĐẾN VỚI KHÓA HỌC CỦA HỒ NAM</h1>
</div>
<div id="text-slogan">
    <h4 class="text-slogan" >Học theo thời gian biểu của bạn</h4>
    <h4 class="text-slogan">---------------------------</h4>
    <h4 class="text-slogan">Học Lập Trình Để Đi Làm Tại Đây</h4>
    <h4 class="text-slogan">---------------------------</h4>
    <h4 class="text-slogan">Thời gian học trong 6 tháng</h4>
    <h4 class="text-slogan">---------------------------</h4>
    <h4 class="text-slogan">Học chuẩn quốc tế</h4>
    <style>
        .text-slogan {
            font-size: 40px;
            font-family: 'Brush Script MT';
        }
    </style>
</div>
