@{
    ViewData["Title"] = "Privacy Policy";
}

<h2 id="ten">Huỳnh Hồ Nam - CTT14CĐ3A</h2>
<h2>-----------------------------------</h2>
<p>
    Facebook: facebook.com/huynhhonam <br />
    Gmai: huynhhonam4@gmail.com <br />
    Zalo: 035350xxxx <br />
</p>
<h2>----------------------------------</h2>
<p>
    Liên Hệ Tôi Để Được Tư Vấn & Đăng Ký Khóa Học
</p>
<style>
    #ten {
        color: #CCCC00;
        font-weight: bolder;
        text-shadow: 5px 5px black;
        font-size: 50px;
    }
    p {
        font-size: 30px;
        font-family: 'Brush Script MT';
    }
</style>